In [2]:
import pandas as pd

dataset=pd.read_csv("city_new.csv")

dataset.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01-01-2015,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,02-01-2015,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,03-01-2015,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,04-01-2015,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,05-01-2015,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [3]:
a1 = ((1-(dataset.isnull().sum()/dataset.shape[0]))*100)
print(a1)
# PRINTS PERCENTAGE OF DATA THAT IS NOT NULL

City          100.000000
Date          100.000000
PM2.5          68.740667
PM10           20.258835
NO             69.686411
NO2            69.736187
NOx            70.433051
NH3             0.000000
CO             69.686411
SO2            68.143355
O3             65.903435
Benzene        75.958188
Toluene        75.958188
Xylene         75.908412
AQI            66.401195
AQI_Bucket     66.401195
dtype: float64

In [4]:
datanew = dataset.dropna(axis=1,thresh=(0.65*dataset.shape[0]))
print(((1-(datanew.isnull().sum()/dataset.shape[0]))*100))
# COLUMN DROPPED FOR COLUMN WITH EMPTY DATA PERCENTAGE MORE THAN 35%

City          100.000000
Date          100.000000
PM2.5          68.740667
NO             69.686411
NO2            69.736187
NOx            70.433051
CO             69.686411
SO2            68.143355
O3             65.903435
Benzene        75.958188
Toluene        75.958188
Xylene         75.908412
AQI            66.401195
AQI_Bucket     66.401195
dtype: float64

<h3>DATA FILLING USING MEAN</h3>

In [5]:
datanew.mean(numeric_only=True)
datanew1 = datanew.fillna(value=dataset.mean())
datanew1.to_csv("city_new1.csv")

C:\Users\devde\AppData\Local\Temp\ipykernel_2032\3099906072.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  datanew1 = datanew.fillna(value=dataset.mean())

<h3>DATA FILLING USING MODE OF DATA</h3>

In [6]:
print(datanew['NO'].mode())
datanew2 = datanew
datanew2['NO'].fillna(datanew['NO'].mode()[0], inplace=True)
datanew2.to_csv("city_new2.csv")
datanew2.iloc[:10,:]

0    16.31
Name: NO, dtype: float64

C:\Users\devde\AppData\Local\Temp\ipykernel_2032\1817671690.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datanew2['NO'].fillna(datanew['NO'].mode()[0], inplace=True)

,City,Date,PM2.5,NO,NO2,NOx,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01-01-2015,NaN,0.92,18.22,17.15,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,02-01-2015,NaN,0.97,15.69,16.46,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,03-01-2015,NaN,17.40,19.30,29.70,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,04-01-2015,NaN,1.70,18.48,17.97,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,05-01-2015,NaN,22.10,21.42,37.76,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
5,Ahmedabad,06-01-2015,NaN,45.41,38.48,81.50,45.41,45.76,46.51,5.42,10.83,1.93,NaN,NaN
6,Ahmedabad,07-01-2015,NaN,112.16,40.62,130.77,112.16,32.28,33.47,0.00,0.00,0.00,NaN,NaN
7,Ahmedabad,08-01-2015,NaN,80.87,36.74,96.75,80.87,38.54,31.89,0.00,0.00,0.00,NaN,NaN
8,Ahmedabad,09-01-2015,NaN,29.16,31.00,48.00,29.16,58.68,25.75,0.00,0.00,0.00,NaN,NaN
9,Ahmedabad,10-01-2015,NaN,16.31,7.04,0.00,NaN,8.29,4.55,0.00,0.00,0.00,NaN,NaN

<H3>DATA FILLING USING FORWARD FILL</H3>

In [7]:
datanew3 = datanew
datanew3['NO2'].fillna(method='ffill',inplace=True)
datanew3.iloc[:59,:]

C:\Users\devde\AppData\Local\Temp\ipykernel_2032\675699758.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datanew3['NO2'].fillna(method='ffill',inplace=True)

,City,Date,PM2.5,NO,NO2,NOx,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01-01-2015,NaN,0.92,18.22,17.15,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,02-01-2015,NaN,0.97,15.69,16.46,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,03-01-2015,NaN,17.40,19.30,29.70,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,04-01-2015,NaN,1.70,18.48,17.97,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,05-01-2015,NaN,22.10,21.42,37.76,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
5,Ahmedabad,06-01-2015,NaN,45.41,38.48,81.50,45.41,45.76,46.51,5.42,10.83,1.93,NaN,NaN
6,Ahmedabad,07-01-2015,NaN,112.16,40.62,130.77,112.16,32.28,33.47,0.00,0.00,0.00,NaN,NaN
7,Ahmedabad,08-01-2015,NaN,80.87,36.74,96.75,80.87,38.54,31.89,0.00,0.00,0.00,NaN,NaN
8,Ahmedabad,09-01-2015,NaN,29.16,31.00,48.00,29.16,58.68,25.75,0.00,0.00,0.00,NaN,NaN
9,Ahmedabad,10-01-2015,NaN,16.31,7.04,0.00,NaN,8.29,4.55,0.00,0.00,0.00,NaN,NaN
10,Ahmedabad,11-01-2015,NaN,132.07,55.80,24.53,132.07,25.03,6.79,0.00,0.00,0.00,NaN,NaN
11,Ahmedabad,12-01-2015,NaN,52.04,40.67,90.24,52.04,51.84,45.89,2.41,0.03,7.88,NaN,NaN
12,Ahmedabad,13-01-2015,NaN,48.82,44.20,87.09,48.82,68.21,35.16,9.45,13.35,12.50,NaN,NaN
13,Ahmedabad,14-01-2015,NaN,19.20,27.86,33.05,19.20,52.65,20.96,2.16,2.26,5.19,NaN,NaN
14,Ahmedabad,15-01-2015,NaN,0.60,16.96,16.60,0.60,28.89,47.63,0.14,0.04,1.35,NaN,NaN
15,Ahmedabad,16-01-2015,NaN,1.63,21.72,22.86,1.63,38.27,46.03,0.35,0.05,2.01,NaN,NaN
16,Ahmedabad,17-01-2015,NaN,11.44,24.73,34.75,11.44,49.50,52.24,0.68,0.00,3.27,NaN,NaN
17,Ahmedabad,18-01-2015,NaN,6.10,25.77,29.57,6.10,48.43,53.49,0.74,0.21,2.75,NaN,NaN
18,Ahmedabad,19-01-2015,NaN,2.51,26.88,27.45,2.51,50.03,49.48,0.26,0.02,2.80,NaN,NaN
19,Ahmedabad,20-01-2015,NaN,7.92,26.80,32.40,7.92,58.87,56.37,0.24,0.01,3.97,NaN,NaN
20,Ahmedabad,21-01-2015,NaN,9.52,33.56,39.28,9.52,106.93,48.75,0.33,0.00,5.65,NaN,NaN
21,Ahmedabad,22-01-2015,NaN,9.05,17.51,22.33,9.05,23.71,42.22,0.00,0.00,4.51,NaN,NaN
22,Ahmedabad,23-01-2015,NaN,22.53,27.96,47.79,22.53,39.19,32.92,0.39,0.00,5.95,NaN,NaN
23,Ahmedabad,24-01-2015,NaN,2.03,20.39,21.40,2.03,40.07,32.49,0.47,0.70,1.54,NaN,NaN
24,Ahmedabad,25-01-2015,NaN,1.42,20.43,20.19,1.42,58.41,39.26,0.01,0.00,0.94,NaN,NaN
25,Ahmedabad,26-01-2015,NaN,2.27,21.16,21.81,2.27,43.73,39.83,0.06,0.00,1.55,NaN,NaN
26,Ahmedabad,27-01-2015,NaN,2.19,21.70,23.26,2.19,43.28,41.10,0.02,0.00,1.65,NaN,NaN
27,Ahmedabad,28-01-2015,73.24,5.72,21.11,25.84,5.72,36.52,62.42,0.03,0.01,1.41,NaN,NaN
28,Ahmedabad,29-01-2015,83.13,6.93,28.71,33.72,6.93,49.52,59.76,0.02,0.00,3.14,209.0,Poor
29,Ahmedabad,30-01-2015,79.84,13.85,28.68,41.08,13.85,48.49,97.07,0.04,0.00,4.81,328.0,Very Poor
30,Ahmedabad,31-01-2015,94.52,24.39,32.66,52.61,24.39,67.39,111.33,0.24,0.01,7.67,514.0,Severe
31,Ahmedabad,01-02-2015,135.99,43.48,42.08,84.57,43.48,75.23,102.70,0.40,0.04,25.87,782.0,Severe
32,Ahmedabad,02-02-2015,178.33,54.56,35.31,72.80,54.56,55.04,107.38,0.46,0.06,35.61,914.0,Severe
33,Ahmedabad,03-02-2015,139.70,30.61,28.40,56.73,30.61,33.79,73.60,0.17,0.03,11.87,660.0,Severe
34,Ahmedabad,04-02-2015,80.65,2.37,22.83,24.00,2.37,25.73,47.30,0.00,0.00,0.00,294.0,Poor
35,Ahmedabad,05-02-2015,58.36,2.60,21.39,23.31,2.60,32.66,53.54,0.00,0.00,0.00,149.0,Moderate
36,Ahmedabad,06-02-2015,79.29,1.16,26.94,26.83,1.16,67.41,59.30,0.00,0.00,0.00,190.0,Moderate
37,Ahmedabad,07-02-2015,88.70,7.29,31.32,37.73,7.29,80.09,44.76,0.00,0.00,0.00,247.0,Poor
38,Ahmedabad,08-02-2015,74.28,8.92,27.30,33.42,8.92,54.28,47.42,0.00,0.00,0.27,379.0,Very Poor
39,Ahmedabad,09-02-2015,113.93,4.32,24.27,26.86,4.32,48.73,39.94,0.02,0.00,3.55,341.0,Very Poor
40,Ahmedabad,10-02-2015,105.39,1.41,18.21,18.75,1.41,35.91,56.15,0.00,0.00,3.31,256.0,Poor
41,Ahmedabad,11-02-2015,66.52,6.34,23.80,28.24,6.34,66.58,53.14,9.70,9.63,16.49,388.0,Very Poor
42,Ahmedabad,12-02-2015,65.04,14.19,30.10,44.21,14.19,65.91,31.88,7.72,17.46,2.51,288.0,Poor
43,Ahmedabad,13-02-2015,103.36,18.18,39.56,57.33,18.18,80.43,40.11,11.29,24.35,3.35,510.0,Severe
44,Ahmedabad,14-02-2015,177.33,37.49,47.58,77.85,37.49,99.72,36.47,17.00,52.66,6.98,761.0,Severe
45,Ahmedabad,15-02-2015,113.25,15.55,30.50,44.87,15.55,69.71,33.78,10.47,28.53,3.22,475.0,Severe
46,Ahmedabad,16-02-2015,99.70,19.85,28.10,47.31,19.85,73.23,30.57,10.28,31.25,4.00,536.0,Severe
47,Ahmedabad,17-02-2015,80.61,15.96,21.04,35.67,15.96,54.70,36.20,8.14,18.75,2.52,479.0,Severe
48,Ahmedabad,18-02-2015,100.79,16.24,25.93,41.91,16.24,43.11,37.43,10.00,32.41,4.04,592.0,Severe
49,Ahmedabad,19-02-2015,107.99,11.25,30.09,40.47,11.25,84.86,31.94,9.20,24.03,3.25,427.0,Severe
50,Ahmedabad,20-02-2015,140.29,33.84,36.14,68.85,33.84,101.53,40.98,20.12,43.51,7.48,588.0,Severe
51,Ahmedabad,21-02-2015,239.96,61.95,46.25,106.92,61.95,84.87,33.55,22.14,53.98,15.44,1141.0,Severe
52,Ahmedabad,22-02-2015,142.96,45.45,48.21,92.32,45.45,62.96,34.77,7.35,22.40,8.47,669.0,Severe
53,Ahmedabad,23-02-2015,238.41,77.70,55.07,131.32,77.70,89.07,37.30,50.61,163.64,28.46,1247.0,Severe
54,Ahmedabad,24-02-2015,118.72,12.56,32.01,42.56,12.56,61.54,38.80,16.89,46.52,6.05,411.0,Severe
55,Ahmedabad,25-02-2015,52.99,2.23,10.45,10.39,2.23,32.76,67.25,3.85,11.39,0.81,292.0,Poor
56,Ahmedabad,26-02-2015,NaN,16.31,10.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Ahmedabad,27-02-2015,NaN,16.31,10.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Ahmedabad,28-02-2015,NaN,16.31,10.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h3>DATA FILLING USING BACKWARD FILL</h3>

In [8]:
datanew4 = datanew
datanew4['NO2'].fillna(method='bfill',inplace=True)
datanew4.iloc[:59,:]

C:\Users\devde\AppData\Local\Temp\ipykernel_2032\2126331827.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datanew4['NO2'].fillna(method='bfill',inplace=True)

,City,Date,PM2.5,NO,NO2,NOx,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01-01-2015,NaN,0.92,18.22,17.15,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,02-01-2015,NaN,0.97,15.69,16.46,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,03-01-2015,NaN,17.40,19.30,29.70,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,04-01-2015,NaN,1.70,18.48,17.97,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,05-01-2015,NaN,22.10,21.42,37.76,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
5,Ahmedabad,06-01-2015,NaN,45.41,38.48,81.50,45.41,45.76,46.51,5.42,10.83,1.93,NaN,NaN
6,Ahmedabad,07-01-2015,NaN,112.16,40.62,130.77,112.16,32.28,33.47,0.00,0.00,0.00,NaN,NaN
7,Ahmedabad,08-01-2015,NaN,80.87,36.74,96.75,80.87,38.54,31.89,0.00,0.00,0.00,NaN,NaN
8,Ahmedabad,09-01-2015,NaN,29.16,31.00,48.00,29.16,58.68,25.75,0.00,0.00,0.00,NaN,NaN
9,Ahmedabad,10-01-2015,NaN,16.31,7.04,0.00,NaN,8.29,4.55,0.00,0.00,0.00,NaN,NaN
10,Ahmedabad,11-01-2015,NaN,132.07,55.80,24.53,132.07,25.03,6.79,0.00,0.00,0.00,NaN,NaN
11,Ahmedabad,12-01-2015,NaN,52.04,40.67,90.24,52.04,51.84,45.89,2.41,0.03,7.88,NaN,NaN
12,Ahmedabad,13-01-2015,NaN,48.82,44.20,87.09,48.82,68.21,35.16,9.45,13.35,12.50,NaN,NaN
13,Ahmedabad,14-01-2015,NaN,19.20,27.86,33.05,19.20,52.65,20.96,2.16,2.26,5.19,NaN,NaN
14,Ahmedabad,15-01-2015,NaN,0.60,16.96,16.60,0.60,28.89,47.63,0.14,0.04,1.35,NaN,NaN
15,Ahmedabad,16-01-2015,NaN,1.63,21.72,22.86,1.63,38.27,46.03,0.35,0.05,2.01,NaN,NaN
16,Ahmedabad,17-01-2015,NaN,11.44,24.73,34.75,11.44,49.50,52.24,0.68,0.00,3.27,NaN,NaN
17,Ahmedabad,18-01-2015,NaN,6.10,25.77,29.57,6.10,48.43,53.49,0.74,0.21,2.75,NaN,NaN
18,Ahmedabad,19-01-2015,NaN,2.51,26.88,27.45,2.51,50.03,49.48,0.26,0.02,2.80,NaN,NaN
19,Ahmedabad,20-01-2015,NaN,7.92,26.80,32.40,7.92,58.87,56.37,0.24,0.01,3.97,NaN,NaN
20,Ahmedabad,21-01-2015,NaN,9.52,33.56,39.28,9.52,106.93,48.75,0.33,0.00,5.65,NaN,NaN
21,Ahmedabad,22-01-2015,NaN,9.05,17.51,22.33,9.05,23.71,42.22,0.00,0.00,4.51,NaN,NaN
22,Ahmedabad,23-01-2015,NaN,22.53,27.96,47.79,22.53,39.19,32.92,0.39,0.00,5.95,NaN,NaN
23,Ahmedabad,24-01-2015,NaN,2.03,20.39,21.40,2.03,40.07,32.49,0.47,0.70,1.54,NaN,NaN
24,Ahmedabad,25-01-2015,NaN,1.42,20.43,20.19,1.42,58.41,39.26,0.01,0.00,0.94,NaN,NaN
25,Ahmedabad,26-01-2015,NaN,2.27,21.16,21.81,2.27,43.73,39.83,0.06,0.00,1.55,NaN,NaN
26,Ahmedabad,27-01-2015,NaN,2.19,21.70,23.26,2.19,43.28,41.10,0.02,0.00,1.65,NaN,NaN
27,Ahmedabad,28-01-2015,73.24,5.72,21.11,25.84,5.72,36.52,62.42,0.03,0.01,1.41,NaN,NaN
28,Ahmedabad,29-01-2015,83.13,6.93,28.71,33.72,6.93,49.52,59.76,0.02,0.00,3.14,209.0,Poor
29,Ahmedabad,30-01-2015,79.84,13.85,28.68,41.08,13.85,48.49,97.07,0.04,0.00,4.81,328.0,Very Poor
30,Ahmedabad,31-01-2015,94.52,24.39,32.66,52.61,24.39,67.39,111.33,0.24,0.01,7.67,514.0,Severe
31,Ahmedabad,01-02-2015,135.99,43.48,42.08,84.57,43.48,75.23,102.70,0.40,0.04,25.87,782.0,Severe
32,Ahmedabad,02-02-2015,178.33,54.56,35.31,72.80,54.56,55.04,107.38,0.46,0.06,35.61,914.0,Severe
33,Ahmedabad,03-02-2015,139.70,30.61,28.40,56.73,30.61,33.79,73.60,0.17,0.03,11.87,660.0,Severe
34,Ahmedabad,04-02-2015,80.65,2.37,22.83,24.00,2.37,25.73,47.30,0.00,0.00,0.00,294.0,Poor
35,Ahmedabad,05-02-2015,58.36,2.60,21.39,23.31,2.60,32.66,53.54,0.00,0.00,0.00,149.0,Moderate
36,Ahmedabad,06-02-2015,79.29,1.16,26.94,26.83,1.16,67.41,59.30,0.00,0.00,0.00,190.0,Moderate
37,Ahmedabad,07-02-2015,88.70,7.29,31.32,37.73,7.29,80.09,44.76,0.00,0.00,0.00,247.0,Poor
38,Ahmedabad,08-02-2015,74.28,8.92,27.30,33.42,8.92,54.28,47.42,0.00,0.00,0.27,379.0,Very Poor
39,Ahmedabad,09-02-2015,113.93,4.32,24.27,26.86,4.32,48.73,39.94,0.02,0.00,3.55,341.0,Very Poor
40,Ahmedabad,10-02-2015,105.39,1.41,18.21,18.75,1.41,35.91,56.15,0.00,0.00,3.31,256.0,Poor
41,Ahmedabad,11-02-2015,66.52,6.34,23.80,28.24,6.34,66.58,53.14,9.70,9.63,16.49,388.0,Very Poor
42,Ahmedabad,12-02-2015,65.04,14.19,30.10,44.21,14.19,65.91,31.88,7.72,17.46,2.51,288.0,Poor
43,Ahmedabad,13-02-2015,103.36,18.18,39.56,57.33,18.18,80.43,40.11,11.29,24.35,3.35,510.0,Severe
44,Ahmedabad,14-02-2015,177.33,37.49,47.58,77.85,37.49,99.72,36.47,17.00,52.66,6.98,761.0,Severe
45,Ahmedabad,15-02-2015,113.25,15.55,30.50,44.87,15.55,69.71,33.78,10.47,28.53,3.22,475.0,Severe
46,Ahmedabad,16-02-2015,99.70,19.85,28.10,47.31,19.85,73.23,30.57,10.28,31.25,4.00,536.0,Severe
47,Ahmedabad,17-02-2015,80.61,15.96,21.04,35.67,15.96,54.70,36.20,8.14,18.75,2.52,479.0,Severe
48,Ahmedabad,18-02-2015,100.79,16.24,25.93,41.91,16.24,43.11,37.43,10.00,32.41,4.04,592.0,Severe
49,Ahmedabad,19-02-2015,107.99,11.25,30.09,40.47,11.25,84.86,31.94,9.20,24.03,3.25,427.0,Severe
50,Ahmedabad,20-02-2015,140.29,33.84,36.14,68.85,33.84,101.53,40.98,20.12,43.51,7.48,588.0,Severe
51,Ahmedabad,21-02-2015,239.96,61.95,46.25,106.92,61.95,84.87,33.55,22.14,53.98,15.44,1141.0,Severe
52,Ahmedabad,22-02-2015,142.96,45.45,48.21,92.32,45.45,62.96,34.77,7.35,22.40,8.47,669.0,Severe
53,Ahmedabad,23-02-2015,238.41,77.70,55.07,131.32,77.70,89.07,37.30,50.61,163.64,28.46,1247.0,Severe
54,Ahmedabad,24-02-2015,118.72,12.56,32.01,42.56,12.56,61.54,38.80,16.89,46.52,6.05,411.0,Severe
55,Ahmedabad,25-02-2015,52.99,2.23,10.45,10.39,2.23,32.76,67.25,3.85,11.39,0.81,292.0,Poor
56,Ahmedabad,26-02-2015,NaN,16.31,10.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Ahmedabad,27-02-2015,NaN,16.31,10.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Ahmedabad,28-02-2015,NaN,16.31,10.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h3>DATA FILLING USING A CONSTANT NUMBER</h3>

In [9]:
datanew5 = datanew
datanew5['PM2.5'].fillna(0,inplace=True)
datanew5

C:\Users\devde\AppData\Local\Temp\ipykernel_2032\2859639803.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datanew5['PM2.5'].fillna(0,inplace=True)

,City,Date,PM2.5,NO,NO2,NOx,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01-01-2015,0.00,0.92,18.22,17.15,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,02-01-2015,0.00,0.97,15.69,16.46,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,03-01-2015,0.00,17.40,19.30,29.70,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,04-01-2015,0.00,1.70,18.48,17.97,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,05-01-2015,0.00,22.10,21.42,37.76,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004,Ahmedabad,27-06-2020,62.12,9.18,56.35,19.86,0.49,12.44,68.05,1.32,37.76,1.62,92.0,Satisfactory
2005,Ahmedabad,28-06-2020,31.57,6.37,23.99,16.40,0.52,11.01,26.34,1.37,49.58,1.34,82.0,Satisfactory
2006,Ahmedabad,29-06-2020,29.75,9.06,25.15,18.92,0.67,12.10,34.99,1.39,60.21,0.79,74.0,Satisfactory
2007,Ahmedabad,30-06-2020,40.02,7.09,58.92,33.41,0.73,16.39,41.64,1.21,44.10,1.35,98.0,Satisfactory
2008,Ahmedabad,01-07-2020,37.63,4.42,35.04,20.17,0.28,14.40,9.69,1.73,47.05,1.87,119.0,Moderate

<h3>DATA FILLING USING INTERPOLATION METHOD [LINEAR]</h3>

In [10]:
datanew6 = datanew
datanew6.interpolate(method='linear')
datanew6

,City,Date,PM2.5,NO,NO2,NOx,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01-01-2015,0.00,0.92,18.22,17.15,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,02-01-2015,0.00,0.97,15.69,16.46,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,03-01-2015,0.00,17.40,19.30,29.70,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,04-01-2015,0.00,1.70,18.48,17.97,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,05-01-2015,0.00,22.10,21.42,37.76,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004,Ahmedabad,27-06-2020,62.12,9.18,56.35,19.86,0.49,12.44,68.05,1.32,37.76,1.62,92.0,Satisfactory
2005,Ahmedabad,28-06-2020,31.57,6.37,23.99,16.40,0.52,11.01,26.34,1.37,49.58,1.34,82.0,Satisfactory
2006,Ahmedabad,29-06-2020,29.75,9.06,25.15,18.92,0.67,12.10,34.99,1.39,60.21,0.79,74.0,Satisfactory
2007,Ahmedabad,30-06-2020,40.02,7.09,58.92,33.41,0.73,16.39,41.64,1.21,44.10,1.35,98.0,Satisfactory
2008,Ahmedabad,01-07-2020,37.63,4.42,35.04,20.17,0.28,14.40,9.69,1.73,47.05,1.87,119.0,Moderate

<h3>DATA FILLING USING INTERPOLATION METHOD [POLYNOMIAL][ORDER 2]</h3>

In [15]:
datanew7 = datanew
datanew7.interpolate(method='polynomial',order=2,inplace=True)
print(datanew7)
datanew.to_csv("a.csv")
datanew7.to_csv("b.csv")
print(datanew)

           City        Date  PM2.5     NO    NO2    NOx     CO    SO2      O3  \
0     Ahmedabad  01-01-2015   0.00   0.92  18.22  17.15   0.92  27.64  133.36
1     Ahmedabad  02-01-2015   0.00   0.97  15.69  16.46   0.97  24.55   34.06
2     Ahmedabad  03-01-2015   0.00  17.40  19.30  29.70  17.40  29.07   30.70
3     Ahmedabad  04-01-2015   0.00   1.70  18.48  17.97   1.70  18.59   36.08
4     Ahmedabad  05-01-2015   0.00  22.10  21.42  37.76  22.10  39.33   39.31
...         ...         ...    ...    ...    ...    ...    ...    ...     ...
2004  Ahmedabad  27-06-2020  62.12   9.18  56.35  19.86   0.49  12.44   68.05
2005  Ahmedabad  28-06-2020  31.57   6.37  23.99  16.40   0.52  11.01   26.34
2006  Ahmedabad  29-06-2020  29.75   9.06  25.15  18.92   0.67  12.10   34.99
2007  Ahmedabad  30-06-2020  40.02   7.09  58.92  33.41   0.73  16.39   41.64
2008  Ahmedabad  01-07-2020  37.63   4.42  35.04  20.17   0.28  14.40    9.69

      Benzene  Toluene  Xylene    AQI    AQI_Bucket
0        0.00     0.02    0.00    NaN           NaN
1        3.68     5.50    3.77    NaN           NaN
2        6.80    16.40    2.25    NaN           NaN
3        4.43    10.14    1.00    NaN           NaN
4        7.01    18.89    2.78    NaN           NaN
...       ...      ...     ...    ...           ...
2004     1.32    37.76    1.62   92.0  Satisfactory
2005     1.37    49.58    1.34   82.0  Satisfactory
2006     1.39    60.21    0.79   74.0  Satisfactory
2007     1.21    44.10    1.35   98.0  Satisfactory
2008     1.73    47.05    1.87  119.0      Moderate

[2009 rows x 14 columns]
           City        Date  PM2.5     NO    NO2    NOx     CO    SO2      O3  \
0     Ahmedabad  01-01-2015   0.00   0.92  18.22  17.15   0.92  27.64  133.36
1     Ahmedabad  02-01-2015   0.00   0.97  15.69  16.46   0.97  24.55   34.06
2     Ahmedabad  03-01-2015   0.00  17.40  19.30  29.70  17.40  29.07   30.70
3     Ahmedabad  04-01-2015   0.00   1.70  18.48  17.97   1.70  18.59   36.08
4     Ahmedabad  05-01-2015   0.00  22.10  21.42  37.76  22.10  39.33   39.31
...         ...         ...    ...    ...    ...    ...    ...    ...     ...
2004  Ahmedabad  27-06-2020  62.12   9.18  56.35  19.86   0.49  12.44   68.05
2005  Ahmedabad  28-06-2020  31.57   6.37  23.99  16.40   0.52  11.01   26.34
2006  Ahmedabad  29-06-2020  29.75   9.06  25.15  18.92   0.67  12.10   34.99
2007  Ahmedabad  30-06-2020  40.02   7.09  58.92  33.41   0.73  16.39   41.64
2008  Ahmedabad  01-07-2020  37.63   4.42  35.04  20.17   0.28  14.40    9.69

      Benzene  Toluene  Xylene    AQI    AQI_Bucket
0        0.00     0.02    0.00    NaN           NaN
1        3.68     5.50    3.77    NaN           NaN
2        6.80    16.40    2.25    NaN           NaN
3        4.43    10.14    1.00    NaN           NaN
4        7.01    18.89    2.78    NaN           NaN
...       ...      ...     ...    ...           ...
2004     1.32    37.76    1.62   92.0  Satisfactory
2005     1.37    49.58    1.34   82.0  Satisfactory
2006     1.39    60.21    0.79   74.0  Satisfactory
2007     1.21    44.10    1.35   98.0  Satisfactory
2008     1.73    47.05    1.87  119.0      Moderate

[2009 rows x 14 columns]

C:\Users\devde\AppData\Local\Temp\ipykernel_2032\849979504.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datanew7.interpolate(method='polynomial',order=2,inplace=True)

<H3>DATA FILLING USING INTERPOLATION METHOD [POLYNOMIAL][ORDER 3]</H3>

In [12]:
datanew8 = datanew
datanew8.interpolate(method='polynomial',order=3)
datanew8

,City,Date,PM2.5,NO,NO2,NOx,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01-01-2015,0.00,0.92,18.22,17.15,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,02-01-2015,0.00,0.97,15.69,16.46,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,03-01-2015,0.00,17.40,19.30,29.70,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,04-01-2015,0.00,1.70,18.48,17.97,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,05-01-2015,0.00,22.10,21.42,37.76,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004,Ahmedabad,27-06-2020,62.12,9.18,56.35,19.86,0.49,12.44,68.05,1.32,37.76,1.62,92.0,Satisfactory
2005,Ahmedabad,28-06-2020,31.57,6.37,23.99,16.40,0.52,11.01,26.34,1.37,49.58,1.34,82.0,Satisfactory
2006,Ahmedabad,29-06-2020,29.75,9.06,25.15,18.92,0.67,12.10,34.99,1.39,60.21,0.79,74.0,Satisfactory
2007,Ahmedabad,30-06-2020,40.02,7.09,58.92,33.41,0.73,16.39,41.64,1.21,44.10,1.35,98.0,Satisfactory
2008,Ahmedabad,01-07-2020,37.63,4.42,35.04,20.17,0.28,14.40,9.69,1.73,47.05,1.87,119.0,Moderate

<h1>By Devdeepsinh Zala</h1>
<h4>20BCM015</h4>